<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <title>Acervo</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
    <div class="nav-left">
        <div class="logo">
            📚 <span>Acervo</span>
        </div>
    </div>

    <div class="nav-links">
        <a href="/" class="nav-btn">Home</a>

        {% if not session.role %}
            <a href="/login" class="nav-btn">Login</a>
        {% endif %}

        {% if session.role == "admin" %}
            <a href="/livros" class="nav-btn">Livros</a>
            <a href="/livro/novo" class="nav-btn destaque">Novo livro</a>

            <a href="/backup/livros" class="nav-btn backup">
                Backup
            </a>

            <a href="/logout" class="nav-btn logout">Sair</a>
        {% endif %}
    </div>
</nav>


    {% block content %}{% endblock %}
</body>
</html>
